$white: #fff;
$font: #545454;

$body-background: #f4f4f4;

$login-bg: #363636;
$login: #d4d4d4;
$login-input-group-border: #3f3f3f;
$login-form: #989898;
$login-checkbox-form-border: #4c4c4c;
$login-alternative: #615f6f;

$cardheader-font: #3d3d3d;
$cardheader-border: #e6e6e5;

$primary: #766ead;
$primary-active: #675ea4;
$primary-hover: #827bb4;
$primary-focus: rgba(118, 110, 173, 0.5);

$primary-link: #8078b7;
$primary-link-hover: #584f94;

$btn-secondary-text: #545454;
$btn-secondary-bg: #fff;
$btn-secondary-bg-active: #e6e6e5;
$btn-secondary-bg-hover: whitesmoke;
$btn-secondary-border: #ccc;
$btn-secondary-focus: rgba(135,135,135,.5);

$form-font: #878787;
$form-border: #ebebeb;
$form-readonly-bg: #fafafa;
$form-primary-focus-border: #c3bfdb;

$table-border: #eceeef;
$table-hover: rgba(0, 0, 0, 0.075);

$slider-bg: #f2f2f2;

$invalid: #f45846;