<template>
    <b-card-group class="col-md-12">
        <b-card header="YOUR BACKGROUND">
            <h3 class="text-center mb-5">Let's learn about your background.</h3>
            <b-form @submit.prevent="onSubmit"
                    class="text-left">
                <div class="form-group row">
                    <label for="email" class="col-form-label col-sm-3 text-sm-right">Date of Birth</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-row>
                            <b-col>
                                <b-form-select :options="month"
                                               v-model="selectMonth"
                                               :state="!$v.selectMonth.$error"
                                               @blur.native="$v.selectMonth.$touch()" />
                                <app-invalid></app-invalid>
                            </b-col>
                            <b-col>
                                <b-form-select :options="date"
                                               v-model="selectDate"
                                               :state="!$v.selectDate.$error"
                                               @blur.native="$v.selectDate.$touch()" />
                                <app-invalid></app-invalid>
                            </b-col>
                            <b-col>
                                <b-form-select :options="year"
                                               v-model="selectYear"
                                               :state="!$v.selectYear.$error"
                                               @blur.native="$v.selectYear.$touch()" />
                                <app-invalid></app-invalid>
                            </b-col>
                        </b-form-row>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="gender" class="col-form-label col-sm-3 text-sm-right">Gender</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="gender"
                                       :options="gender"
                                       v-model="selectGender"
                                       :state="!$v.selectGender.$error"
                                       @blur.native="$v.selectGender.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ethnicity" class="col-form-label col-sm-3 text-sm-right">Ethnicity</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="ethnicity"
                                       :options="ethnicity"
                                       v-model="selectEthnicity"
                                       :state="!$v.selectEthnicity.$error"
                                       @blur.native="$v.selectEthnicity.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="country" class="col-form-label col-sm-3 text-sm-right">Country</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="country"
                                       :options="country"
                                       v-model="selectCountry"
                                       :state="!$v.selectCountry.$error"
                                       @blur.native="$v.selectCountry.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="state" class="col-form-label col-sm-3 text-sm-right">State / Province</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="state"
                                       :options="state"
                                       v-model="selectState"
                                       :state="!$v.selectState.$error"
                                       @blur.native="$v.selectState.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <b-row class="pt-0 pt-0 pt-lg-5">
                    <b-col sm="8"
                           lg="6"
                           offset-sm="2"
                           offset-lg="3">
                        <b-row>
                            <b-col lg="6"
                                   class="pb-4 pb-lg-0">
                                <b-link href="/"
                                        @click.prevent="onSkip">Skip</b-link>
                            </b-col>
                            <b-col lg="6"
                                   class="text-right">
                                <b-button variant="secondary"
                                          class="mr-2"
                                          @click="onBack">BACK</b-button>
                                <b-button variant="primary"
                                          type="submit">SUBMIT</b-button>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
            </b-form>
        </b-card>
    </b-card-group>
</template>

<script>
    import { required } from 'vuelidate/lib/validators'
    import Invalid from '../UI/Invalid.vue'

    export default {
        data() {
            return {
                selectMonth: null,
                selectDate: null,
                selectYear: null,
                selectGender: null,
                selectEthnicity: null,
                selectCountry: null,
                selectState: null,
                month: [],
                date: [],
                year: [],
                gender: [
                    { value: null, text: 'Choose...' },
                    { value: 'male', text: 'Male' },
                    { value: 'female', text: 'Female'},
                    { value: 'other', text: 'Other' }
                ],
                ethnicity: [
                    { value: null, text: 'Choose...' },
                    { value: 'indian', text: 'American Indian' },
                    { value: 'asian', text: 'Asian' },
                    { value: 'black', text: 'Black' },
                    { value: 'hispanic', text: 'Hispanic' },
                    { value: 'hawaiian', text: 'Native Hawaiian' },
                    { value: 'white', text: 'White' },
                    { value: 'mixed', text: 'Mixed Heritage' }
                ],
                country: [
                    { value: null, text: 'Choose...' },
                    { value: 'usa', text: 'United States'}
                ],
                state: [
                    { value: null, text: 'Choose...' },
                    { value: 'washington', text: 'Washington' }
                ]
            }
        },
        components: {
            appInvalid: Invalid
        },
        created() {
            let month = {};
            for (let i = 0; i <= 12; i++) {
                if (i == 0) {
                    month[i] = { value: null, text: 'Month' }
                } else {
                    month[i] = { value: i, text: i }
                }
            }
            this.month = month;

            const date = {};
            for (let i = 0; i <= 31; i++) {
                if (i == 0) {
                    date[i] = { value: null, text: 'Date' }
                } else {
                    date[i] = { value: i, text: i }
                }
            }
            this.date = date;

            const year = {};
            for (let i = 0; i < 102; i++) {
                if (i == 0) {
                    year[i] = { value: null, text: 'Year' }
                } else {
                    year[i] = { value: i + 1929, text: i + 1929 }
                }
            }
            this.year = year
        },
        validations: {
            selectMonth: { required },
            selectDate: { required },
            selectYear: { required },
            selectGender: { required },
            selectEthnicity: { required },
            selectCountry: { required },
            selectState: { required }
        },
        methods: {
            onSubmit() {
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    this.$router.push({ name: 'history' })
                }
            },
            onSkip() {
                this.$router.push({ name: 'history' })
            },
            onBack() {
                this.$router.push({ name: 'info' })
            }
        }
    }
</script>

<style scoped>

</style>