<template>
    <b-card-group class="col-md-12">
        <b-card header="MEDICAL HISTORY">
            <h3 class="text-center mb-5">Let's learn about your medical history.</h3>
            <b-form @submit.prevent="onSubmit"
                    class="text-left">
                <div class="form-group row">
                    <label for="geneticHistory"
                           class="col-form-label col-sm-3 offset-lg-1 text-sm-right">Do you have a genetic history of skin cancer? Do you have relatives with skin cancer?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="geneticHistory"
                                       :options="geneticHistory"
                                       v-model="selectGeneticHistory"
                                       :state="!$v.selectGeneticHistory.$error"
                                       @blur.native="$v.selectGeneticHistory.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exposure"
                           class="col-form-label col-sm-3 offset-lg-1 text-sm-right">Do you have regular exposure to sunlight?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="exposure"
                                       :options="exposure"
                                       v-model="selectExposure"
                                       :state="!$v.selectExposure.$error"
                                       @blur.native="$v.selectExposure.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sunscreen"
                           class="col-form-label col-sm-3 offset-lg-1 text-sm-right">How often do you use sunscreen or other forms of SPF?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="sunscreen"
                                       :options="sunscreen"
                                       v-model="selectSunscreen"
                                       :state="!$v.selectSunscreen.$error"
                                       @blur.native="$v.selectSunscreen.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tanningBeds"
                           class="col-form-label col-sm-3 offset-lg-1 text-sm-right">Do you use tanning beds? Do you lay out in the sun?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="tanningBeds"
                                       :options="tanningBeds"
                                       v-model="selectTanningBeds"
                                       :state="!$v.selectTanningBeds.$error"
                                       @blur.native="$v.selectTanningBeds.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newMoles"
                           class="col-form-label col-sm-3 offset-lg-1 text-sm-right">How many new moles have you discovered in the past year?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="newMoles"
                                       :options="newMoles"
                                       v-model="selectNewMoles"
                                       :state="!$v.selectNewMoles.$error"
                                       @blur.native="$v.selectNewMoles.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="haveSkinCancer"
                           class="col-form-label col-sm-3 offset-lg-1 text-sm-right">Do you have skin cancer?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="haveSkinCancer"
                                       :options="haveSkinCancer"
                                       v-model="selectHaveSkinCancer"
                                       :state="!$v.selectHaveSkinCancer.$error"
                                       @blur.native="$v.selectHaveSkinCancer.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="skinCancerBefore"
                           class="col-form-label col-sm-3 offset-lg-1 text-sm-right">Have you ever had skin cancer?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="skinCancerBefore"
                                       :options="skinCancerBefore"
                                       v-model="selectSkinCancerBefore"
                                       :state="!$v.selectSkinCancerBefore.$error"
                                       @blur.native="$v.selectSkinCancerBefore.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="currentlyInTreatment"
                           class="col-form-label col-sm-3 offset-lg-1 text-sm-right">Are you currently in treatment for skin cancer?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="currentlyInTreatment"
                                       :options="currentlyInTreatment"
                                       v-model="selectCurrentlyInTreatment"
                                       :state="!$v.selectCurrentlyInTreatment.$error"
                                       @blur.native="$v.selectCurrentlyInTreatment.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="previousTreatment"
                           class="col-form-label col-sm-3 offset-lg-1 text-sm-right">Have you had previous treatment for skin cancer before?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="previousTreatment"
                                       :options="previousTreatment"
                                       v-model="selectPreviousTreatment"
                                       :state="!$v.selectPreviousTreatment.$error"
                                       @blur.native="$v.selectPreviousTreatment.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <b-row class="pt-0 pt-0 pt-lg-5">
                    <b-col sm="8"
                           lg="6"
                           offset-sm="2"
                           offset-lg="3">
                        <b-row>
                            <b-col lg="6"
                                   class="pb-4 pb-lg-0">
                                <b-link to="/"
                                        @click.prevent="onSkip">Skip</b-link>
                            </b-col>
                            <b-col lg="6"
                                   class="text-right">
                                <b-button variant="secondary"
                                          class="mr-2"
                                          @click="onBack">BACK</b-button>
                                <b-button variant="primary"
                                          type="submit">SUBMIT</b-button>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
            </b-form>
        </b-card>
    </b-card-group>
</template>

<script>
    import { required } from 'vuelidate/lib/validators'
    import Invalid from '../UI/Invalid.vue'

    export default {
        data() {
            return {
                selectGeneticHistory: null,
                selectExposure: null,
                selectSunscreen: null,
                selectTanningBeds: null,
                selectNewMoles: null,
                selectHaveSkinCancer: null,
                selectSkinCancerBefore: null,
                selectCurrentlyInTreatment: null,
                selectPreviousTreatment: null,
                geneticHistory: [
                    { value: null, text: 'Choose...' },
                    { value: 'yes', text: 'Yes' },
                    { value: 'no', text: 'No' },
                    { value: 'notSure', text: 'Not Sure' },
                ],
                exposure: [
                    { value: null, text: 'Choose...' },
                    { value: 'yes', text: 'Yes' },
                    { value: 'no', text: 'No' },
                    { value: 'not_sure', text: 'Not Sure' },
                ],
                sunscreen: [
                    { value: null, text: 'Choose...' },
                    { value: 'never', text: 'Never' },
                    { value: 'sometimes', text: 'Sometimes' },
                    { value: 'most_of_the_time', text: 'Most of the time' },
                    { value: 'always', text: 'Always' }
                ],
                tanningBeds: [
                    { value: null, text: 'Choose...' },
                    { value: 'yes', text: 'Yes' },
                    { value: 'no', text: 'No' },
                    { value: 'occasionally', text: 'Occasionally' }
                ],
                newMoles: [
                    { value: null, text: 'Choose...' },
                    { value: '0', text: '0' },
                    { value: '1_2', text: '1-2' },
                    { value: '3_4', text: '3-4' },
                    { value: '5+', text: '5+' }
                ],
                haveSkinCancer: [
                    { value: null, text: 'Choose...' },
                    { value: 'yes', text: 'Yes' },
                    { value: 'no', text: 'No' }
                ],
                skinCancerBefore: [
                    { value: null, text: 'Choose...' },
                    { value: 'yes', text: 'Yes' },
                    { value: 'no', text: 'No' }
                ],
                currentlyInTreatment: [
                    { value: null, text: 'Choose...' },
                    { value: 'yes', text: 'Yes' },
                    { value: 'no', text: 'No' }
                ],
                previousTreatment: [
                    { value: null, text: 'Choose...' },
                    { value: 'yes', text: 'Yes' },
                    { value: 'no', text: 'No' }
                ],
            }
        },
        components: {
            appInvalid: Invalid
        },
        validations: {
            selectGeneticHistory: { required },
            selectExposure: { required },
            selectSunscreen: { required },
            selectTanningBeds: { required },
            selectNewMoles: { required },
            selectHaveSkinCancer: { required },
            selectSkinCancerBefore: { required },
            selectCurrentlyInTreatment: { required },
            selectPreviousTreatment: { required }
        },
        methods: {
            onSubmit() {
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    this.$router.push({ name: 'uploads' })
                }
            },
            onSkip() {
                this.$router.push({ name: 'uploads' })
            },
            onBack() {
                this.$router.push({ name: 'background' })
            }
        }
    }
</script>

<style scoped>

</style>