<template>
    <b-card-group class="col-md-12">
        <b-card align="center"
                class="px-lg-5">
            <h1 class="my-5">Welcome to Doctor Hazel A.I. App</h1>
            <h5 class="mb-4">THE VISION</h5>
            <scrolly class="scroll">
                <scrolly-viewport>
                    <div class="text-left">
                        <p>
                            Everyone in the world gets a free AI powered cancer screening. Patients can engage a real dermatologist for biopsy and get a real treatment. Every patient and every diagnosis trains the Artificial Intelligence delivering better care to more people and saving more lives. Our biggest need right now is collecting data. If you have data you can share with us that is the biggest help!
                        </p>
                        <p>
                            By Proceeding, you understand that you are donating data for the Doctor Hazel A.I. engine and that Doctor Hazel A.I. is not a replacement for an official doctor diagnosis.
                        </p>
                    </div>
                </scrolly-viewport>
                <scrolly-bar axis="y"></scrolly-bar>
            </scrolly>
            <b-link href="#">Terms and Conditions</b-link>
            <b-row align-h="end"
                   class="pt-0 pt-0 pt-5">
                <b-col sm="6"
                       class="text-left">
                    <b-form-checkbox v-model="checked">I agree to the Terms and Conditions</b-form-checkbox>
                </b-col>
                <b-col sm="6"
                       class="text-right">
                    <b-button variant="primary"
                              :disabled="!checked"
                              @click="onAgree">AGREE</b-button>
                </b-col>
            </b-row>
        </b-card>
    </b-card-group>
</template>

<script>
    import { Scrolly, ScrollyViewport, ScrollyBar} from 'vue-scrolly'

    export default {
        data() {
            return {
                checked: false
            }
        },
        components: {
            Scrolly,
            ScrollyViewport,
            ScrollyBar
        },
        methods: {
            onAgree() {
                this.$router.push({ name: 'background' })
            }
        }
    }
</script>

<style scoped>
</style>