<template>
    <b-card-group class="col-md-12">
        <b-card header="IMAGE GUIDELINES">
            <h3 class="text-center mb-5">How to take the best images for Doctor Hazel A.I.</h3>
            <div class="mb-4">
                <h5 class="text-center mb-4">Following these guidelines provide the most accurate analysis that Doctor Hazel is able to provide.</h5>
                <ol class="text-left">
                    <li>image should fill the entire screen</li>
                    <li>use a well-lit room</li>
                    <li>one image per mole</li>
                </ol>
            </div>
            <p class="text-center">
                <strong>
                    <sup>*</sup> Images are private and are used for training the Doctor Hazel A.I. engine only
                </strong>
            </p>
            <b-row align-h="end"
                   class="pt-0 pt-0 pt-lg-5">
                <b-col lg="6"
                       class="text-right">
                    <b-button variant="secondary"
                              class="mr-2"
                              @click="onBack">BACK</b-button>
                    <b-button variant="primary"
                              @click="onNext">NEXT</b-button>
                </b-col>
            </b-row>
        </b-card>
    </b-card-group>
</template>

<script>
    export default {
        methods: {
            onBack() {
                this.$router.push({ name: 'history' })
            },
            onNext() {
                this.$router.push({ name: 'upload' })
            }
        }
    }
</script>

<style scoped>
    ol {
        margin: 0 auto;
        width: 50%;
    }
</style>