<template>
    <b-card-group class="col-md-12">
        <b-card header="PREVIEW UPLOAD">
            <h3 class="text-center mb-5">Review your upload for submission and analysis</h3>
            <b-form @submit.prevent="onSubmit"
                    class="text-left">
                <div class="text-center mb-5">
                    <b-img :src="infos.uploadedFile"
                           fluid
                           class="uploadedImage" />
                </div>
                <div class="form-group row">
                    <label for="areaOfConcern"
                           class="col-form-label col-sm-3 text-sm-right">Where is the area of concern?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-input id="areaOfConcern"
                                      type="text"
                                      readonly
                                      :value="infos.selectAreaOfConcern"></b-form-input>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="howLong"
                           class="col-form-label col-sm-3 text-sm-right">How long have you had this mole?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-input id="howLong"
                                      type="text"
                                      readonly
                                      :value="infos.selectHowLong"></b-form-input>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shapeOrColor"
                           class="col-form-label col-sm-3 text-sm-right">Has the shape or color changed since you discovered it?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-input id="shapeOrColor"
                                      type="text"
                                      readonly
                                      :value="infos.selectShapeOrColor"></b-form-input>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="classified"
                           class="col-form-label col-sm-3 text-sm-right">Has this been classified?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-input id="classified"
                                      type="text"
                                      readonly
                                      :value="infos.selectClassified"></b-form-input>
                    </div>
                </div>
                <div v-if="infos.selectClassified == 'Yes'">
                    <div class="form-group row">
                        <label for="classification"
                               class="col-form-label col-sm-3 text-sm-right">What is the classification?</label>
                        <div class="col-sm-8 col-lg-6">
                            <b-form-input id="classification"
                                          type="text"
                                          readonly
                                          :value="infos.selectClassification"></b-form-input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="whenClassified"
                               class="col-form-label col-sm-3 text-sm-right">When was this classified?</label>
                        <div class="col-sm-8 col-lg-6">
                            <b-form-input id="whenClassified"
                                          type="text"
                                          readonly
                                          :value="infos.selectWhenClassified"></b-form-input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="classifiedBy"
                               class="col-form-label col-sm-3 text-sm-right">Who was it classified by?</label>
                        <div class="col-sm-8 col-lg-6">
                            <b-form-input id="classifiedBy"
                                          type="text"
                                          readonly
                                          :value="infos.selectClassifiedBy"></b-form-input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="currentlyInTreatment"
                               class="col-form-label col-sm-3 text-sm-right">Are you currently in treatment for this mole?</label>
                        <div class="col-sm-8 col-lg-6">
                            <b-form-input id="currentlyInTreatment"
                                          type="text"
                                          readonly
                                          :value="infos.selectCurrentlyInTreatment"></b-form-input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pastTreatment"
                               class="col-form-label col-sm-3 text-sm-right">Have you had treatment for this mole in the past?</label>
                        <div class="col-sm-8 col-lg-6">
                            <b-form-input id="pastTreatment"
                                          type="text"
                                          readonly
                                          :value="infos.selectPastTreatment"></b-form-input>
                        </div>
                    </div>
                </div>
                <b-row class="pt-0 pt-0 pt-lg-5">
                    <b-col lg="12"
                           class="text-right">
                        <b-button variant="secondary"
                                  @click="onEdit"
                                  class="mr-2">EDIT</b-button>
                        <b-button type="submit"
                                  variant="primary">SUBMIT</b-button>
                    </b-col>
                </b-row>
            </b-form>
        </b-card>
    </b-card-group>
</template>

<script>
    export default {
        computed: {
            infos() {
                return this.$store.getters.forms
            }
        },
        methods: {
            onSubmit() {
                this.$router.push({ name: 'results' })
            },
            onEdit() {
                this.$router.push({ name: 'upload' })
            }
        }
    }
</script>

<style scoped>

</style>