<template>
    <b-card-group class="col-md-12">
        <b-card header="UPLOAD IMAGE">
            <h3 class="text-center mb-5">Let's upload an image for Doctor Hazel A.I.</h3>
            <b-form @submit.prevent="onSubmit"
                    class="text-left">
                <div class="upload text-center mb-5" :class="$v.uploadedFile.$error ? 'uploadError' : ''">
                    <vue-avatar :border="0"
                                :width="upload.width"
                                :height="upload.height"
                                :style="style"
                                :scale="scale"
                                ref="uploadImage"
                                @vue-avatar-editor:image-ready="onImageReady"
                                @select-file="onSelectFile($event)"></vue-avatar>
                    <div class="uploaded invalid-feedback"
                         v-if="$v.uploadedFile.$error">Should upload your image here.</div>
                </div>
                <div class="form-group row">
                    <label for="areaOfConcern"
                           class="col-form-label col-sm-3 offset-lg-1 text-sm-right">Where is the area of concern?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="areaOfConcern"
                                       :options="areaOfConcern"
                                       v-model="selectAreaOfConcern"
                                       :state="!$v.selectAreaOfConcern.$error"
                                       @blur.native="$v.selectAreaOfConcern.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="howLong"
                           class="col-form-label col-sm-3 offset-lg-1 text-sm-right">How long have you had this mole?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="howLong"
                                       :options="howLong"
                                       v-model="selectHowLong"
                                       :state="!$v.selectHowLong.$error"
                                       @blur.native="$v.selectHowLong.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shapeOrColor"
                           class="col-form-label col-sm-3 offset-lg-1 text-sm-right">Has the shape or color changed since you discovered it?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="shapeOrColor"
                                       :options="shapeOrColor"
                                       v-model="selectShapeOrColor"
                                       :state="!$v.selectShapeOrColor.$error"
                                       @blur.native="$v.selectShapeOrColor.$touch()" />
                        <app-invalid></app-invalid>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="classified"
                           class="col-form-label col-sm-3 offset-lg-1 text-sm-right">Has this been classified?</label>
                    <div class="col-sm-8 col-lg-6">
                        <b-form-select id="classified"
                                       :options="classified"
                                       v-model="selectClassified" />
                    </div>
                </div>
                <div v-if="selectClassified == 'Yes'">
                    <div class="form-group row">
                        <label for="classification"
                               class="col-form-label col-sm-3 offset-lg-1 text-sm-right">What is the classification?</label>
                        <div class="col-sm-8 col-lg-6">
                            <b-form-select id="classification"
                                           :options="classification"
                                           v-model="selectClassification"
                                           :state="!$v.selectClassification.$error"
                                           @blur.native="$v.selectClassification.$touch()" />
                            <app-invalid></app-invalid>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="whenClassified"
                               class="col-form-label col-sm-3 offset-lg-1 text-sm-right">When was this classified?</label>
                        <div class="col-sm-8 col-lg-6">
                            <b-form-select id="whenClassified"
                                           :options="whenClassified"
                                           v-model="selectWhenClassified"
                                           :state="!$v.selectWhenClassified.$error"
                                           @blur.native="$v.selectWhenClassified.$touch()" />
                            <app-invalid></app-invalid>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="classifiedBy"
                               class="col-form-label col-sm-3 offset-lg-1 text-sm-right">Who was it classified by?</label>
                        <div class="col-sm-8 col-lg-6">
                            <b-form-select id="classifiedBy"
                                           :options="classifiedBy"
                                           v-model="selectClassifiedBy"
                                           :state="!$v.selectClassifiedBy.$error"
                                           @blur.native="$v.selectClassifiedBy.$touch()" />
                            <app-invalid></app-invalid>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="currentlyInTreatment"
                               class="col-form-label col-sm-3 offset-lg-1 text-sm-right">Are you currently in treatment for this mole?</label>
                        <div class="col-sm-8 col-lg-6">
                            <b-form-select id="currentlyInTreatment"
                                           :options="currentlyInTreatment"
                                           v-model="selectCurrentlyInTreatment"
                                           :state="!$v.selectCurrentlyInTreatment.$error"
                                           @blur.native="$v.selectCurrentlyInTreatment.$touch()" />
                            <app-invalid></app-invalid>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pastTreatment"
                               class="col-form-label col-sm-3 offset-lg-1 text-sm-right">Have you had treatment for this mole in the past?</label>
                        <div class="col-sm-8 col-lg-6">
                            <b-form-select id="pastTreatment"
                                           :options="pastTreatment"
                                           v-model="selectPastTreatment"
                                           :state="!$v.selectPastTreatment.$error"
                                           @blur.native="$v.selectPastTreatment.$touch()" />
                            <app-invalid></app-invalid>
                        </div>
                    </div>
                </div>
                <b-row align-h="end"
                       class="pt-0 pt-0 pt-lg-5">
                    <b-col lg="6"
                           class="text-right">
                        <b-button variant="secondary"
                                  class="mr-2"
                                  @click="onBack">BACK</b-button>
                        <b-button type="submit"
                                  variant="primary">PREVIEW</b-button>
                    </b-col>
                </b-row>
            </b-form>
        </b-card>
    </b-card-group>
</template>

<script>
    import { required } from 'vuelidate/lib/validators'
    import VueAvatar from '../UI/VueAvatar.vue'
    import Invalid from '../UI/Invalid.vue'

    export default {
        data() {
            return {
                style: {
                    'border': '2px dashed #d4d4d4',
                    'backgroundColor': '#f4f4f4'
                },
                window: {
                    width: 0
                },
                upload: {
                    width: 0,
                    height: 0
                },
                scale: 1,
                uploadedFile: null,
                selectAreaOfConcern: null,
                selectHowLong: null,
                selectShapeOrColor: null,
                selectClassified: 'No',
                selectClassification: null,
                selectWhenClassified: null,
                selectClassifiedBy: null,
                selectCurrentlyInTreatment: null,
                selectPastTreatment: null,
                areaOfConcern: [
                    { value: null, text: 'Choose...' },
                    { value: 'Face', text: 'Face' },
                    { value: 'Scalp', text: 'Scalp' },
                    { value: 'Ears', text: 'Ears' },
                    { value: 'Neck', text: 'Neck' },
                    { value: 'Hands', text: 'Hands' },
                    { value: 'Shoulders', text: 'Shoulders' },
                    { value: 'Chest', text: 'Chest' },
                    { value: 'Back', text: 'Back' },
                    { value: 'Legs', text: 'Legs' },
                    { value: 'Palms of hands', text: 'Palms of hands' },
                    { value: 'Soles of feet', text: 'Soles of feet' },
                    { value: 'Nail beds', text: 'Nail beds' },
                    { value: 'Other', text: 'Other' }
                ],
                howLong: [
                    { value: null, text: 'Choose...' },
                    { value: 'Less than 6 months', text: 'Less than 6 months' },
                    { value: '6 months - 1 year', text: '6 months - 1 year' },
                    { value: '2 - 3 years', text: '2 - 3 years' },
                    { value: '4 - 5 years', text: '4 - 5 years' },
                    { value: '6+ years', text: '6+ years' }
                ],
                shapeOrColor: [
                    { value: null, text: 'Choose...' },
                    { value: 'Yes', text: 'Yes' },
                    { value: 'No', text: 'No' },
                    { value: 'Not sure', text: 'Not sure' }
                ],
                classified: [
                    { value: 'Yes', text: 'Yes' },
                    { value: 'No', text: 'No' }
                ],
                classification: [
                    { value: null, text: 'Choose...' },
                    { value: 'Basel-cell skin cancer (basal-cell carinoma) (BCC)', text: 'Basel-cell skin cancer (basal-cell carinoma) (BCC)' },
                    { value: 'Squamous-cell skin cancer (squamous-cell carcinoma) (SCC)', text: 'Squamous-cell skin cancer (squamous-cell carcinoma) (SCC)' },
                    { value: 'Malignant melanoma', text: 'Malignant melanoma' },
                    { value: 'Benign (non-cancerous) growths', text: 'Benign (non-cancerous) growths' },
                ],
                whenClassified: [
                    { value: null, text: 'Choose...' },
                    { value: 'Yes', text: 'Yes' },
                    { value: 'No', text: 'No' },
                    { value: 'Not sure', text: 'Not sure' }
                ],
                classifiedBy: [
                    { value: null, text: 'Choose...' },
                    { value: 'Dermatologist', text: 'Dermatologist' },
                    { value: 'Physician', text: 'Physician' },
                    { value: 'Skin care specialist', text: 'Skin care specialist' },
                    { value: 'Other', text: 'Other' }
                ],
                currentlyInTreatment: [
                    { value: null, text: 'Choose...' },
                    { value: 'Yes', text: 'Yes' },
                    { value: 'No', text: 'No' }
                ],
                pastTreatment: [
                    { value: null, text: 'Choose...' },
                    { value: 'Yes', text: 'Yes' },
                    { value: 'No', text: 'No' }
                ]
            }
        },
        components: {
            VueAvatar,
            appInvalid: Invalid
        },
        created() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
        },
        mounted() {
            if (this.window.width < 576) {
                this.upload.width = 180;
                this.upload.height = this.upload.width / 16 * 9;
            }

            if (this.window.width >= 576 && this.window.width < 768) {
                this.upload.width = 300;
                this.upload.height = this.upload.width / 16 * 9;
            }

            if (this.window.width >= 768 && this.window.width < 992) {
                this.upload.width = 470;
                this.upload.height = this.upload.width / 16 * 9;
            }

            if (this.window.width >= 992 && this.window.width < 1200) {
                this.upload.width = 720;
                this.upload.height = this.upload.width / 16 * 9;
            }

            if (this.window.width >= 1200) {
                this.upload.width = 900;
                this.upload.height = this.upload.width / 16 * 9;
            }
        },
        validations() {
            if (this.selectClassified == 'Yes') {
                return {
                    uploadedFile: { required },
                    selectAreaOfConcern: { required },
                    selectHowLong: { required },
                    selectShapeOrColor: { required },
                    selectClassification: { required },
                    selectWhenClassified: { required },
                    selectClassifiedBy: { required },
                    selectCurrentlyInTreatment: { required },
                    selectPastTreatment: { required }
                }
            } else {
                return {
                    uploadedFile: { required },
                    selectAreaOfConcern: { required },
                    selectHowLong: { required },
                    selectShapeOrColor: { required },
                }
            }
        },
        methods: {
            handleResize() {
                this.window.width = window.innerWidth
            },
            onImageReady() {
                this.scale = 1
            },
            onSelectFile(files) {
                this.uploadedFile = files
            },
            onBack() {
                this.$router.push({ name: 'uploads' })
            },
            onSubmit() {
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    const img = this.$refs.uploadImage.getImageScaled();
                    const imgSrc = img.toDataURL();
                    let infos = [];
                    if (this.selectClassified == 'Yes') {
                        infos = {
                            uploadedFile: imgSrc,
                            selectAreaOfConcern: this.selectAreaOfConcern,
                            selectHowLong: this.selectHowLong,
                            selectShapeOrColor: this.selectShapeOrColor,
                            selectClassified: this.selectClassified,
                            selectClassification: this.selectClassification,
                            selectWhenClassified: this.selectWhenClassified,
                            selectClassifiedBy: this.selectClassifiedBy,
                            selectCurrentlyInTreatment: this.selectCurrentlyInTreatment,
                            selectPastTreatment: this.selectPastTreatment
                        }
                    } else {
                        infos = {
                            uploadedFile: imgSrc,
                            selectAreaOfConcern: this.selectAreaOfConcern,
                            selectHowLong: this.selectHowLong,
                            selectShapeOrColor: this.selectShapeOrColor,
                            selectClassified: this.selectClassified
                        }
                    }

                    this.$store.dispatch('saveInformations', infos);
                    this.$router.push({ name: 'preview' })
                }
            }
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize)
        }
    }
</script>

<style scoped>
</style>