<template>
    <b-navbar toggleable="md"
              type="dark"
              variant="dark">
        <b-container>
            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
            <b-navbar-brand :to="{ name: 'home' }">
                <img src="../assets/logo.png"
                     alt="logo"
                     width="auto"
                     height="20">
            </b-navbar-brand>
            <b-collapse is-nav
                        id="nav_collapse">
                <b-navbar-nav class="ml-auto">
                    <b-nav-item :to="{ name: 'signup' }">Join</b-nav-item>
                    <b-nav-item :to="{ name: 'login' }">Log in</b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-container>
    </b-navbar>
</template>

<script>
    export default {}
</script>

<style scoped>

</style>