<template>
    <b-card-group class="col-md-12">
        <b-card>
            <b-card-group deck class="home">
                <b-card>
                    <b-img src="https://picsum.photos/600/400/?image=91"
                           fluid></b-img>
                </b-card>
                <b-card>
                    <h1 class="my-5">Doctor Hazel A.I. App</h1>
                    <h5>Real-time A.I. Skin Cancer Detection</h5>
                    <b-row class="pt-0 pt-0 pt-lg-5">
                        <b-col lg="12"
                               class="text-left">
                            <b-button variant="primary"
                                      @click="onSignup">SIGN UP</b-button>
                        </b-col>
                    </b-row>
                </b-card>
            </b-card-group>
        </b-card>
    </b-card-group>
</template>

<script>
    export default {
        methods: {
            onSignup() {
                this.$router.push({ name: 'signup' })
            }
        }
    }
</script>

<style scoped lang="scss">
    .home {
        .card {
            box-shadow: none;
        }
    }
</style>