<template>
    <b-col md="6"
           class="form-message">
        <img src="../assets/logo.png"
             alt="Logo"
             class="logo-img mb-4"
             width="28"
             height="28">
        <span class="description text-center mt-5 mb-5">Login to your account</span>
        <b-form @submit.prevent="onSubmit">
            <b-form-group @submit="onSubmit">
                <b-input-group>
                    <i class="icon s7-mail"
                       slot="prepend"></i>
                    <b-form-input id="email"
                                  type="email"
                                  placeholder="Email"
                                  autocomplete="off"
                                  :state="!$v.email.$error"
                                  v-model="email"
                                  @blur.native="$v.email.$touch()"></b-form-input>
                    <b-form-invalid-feedback v-if="!$v.email.required">This value is required.</b-form-invalid-feedback>
                    <b-form-invalid-feedback v-if="!$v.email.email">This value should be a valid email.</b-form-invalid-feedback>
                </b-input-group>
            </b-form-group>
            <b-form-group>
                <b-input-group>
                    <i class="icon s7-lock"
                       slot="prepend"></i>
                    <b-form-input id="password"
                                  type="password"
                                  placeholder="Password"
                                  autocomplete="off"
                                  :state="!$v.password.$error"
                                  v-model="password"
                                  @blur.native="$v.password.$touch()"></b-form-input>
                    <b-form-invalid-feedback v-if="!$v.password.required">This value is required.</b-form-invalid-feedback>
                </b-input-group>
            </b-form-group>
            <b-form-group class="login-submit">
                <b-button type="submit"
                          variant="primary"
                          size="lg"
                          block="block">Login</b-button>
            </b-form-group>
            <b-form-group>
                <b-row>
                    <b-col sm="6">
                        <b-form-checkbox class="mt-2"
                                         value="remember">Remember me</b-form-checkbox>
                    </b-col>
                    <!--<b-col sm="6" class="pt-2 text-sm-right login-forgot-password">-->
                        <!--<b-link href="#">Forgot Password?</b-link>-->
                    <!--</b-col>-->
                </b-row>
            </b-form-group>
        </b-form>
        <div class="alternative-message text-center">
            Don't have an account?
            <b-link :to="{ name: 'signup' }">Sign Up</b-link>
        </div>
    </b-col>
</template>

<script>
    import { required, email } from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                email: '',
                password: '',
                block: true
            }
        },
        validations: {
            email: {
                required,
                email
            },
            password: {
                required
            }
        },
        methods: {
            onSubmit() {
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    this.$router.push({ name: 'profile' })
                }
            }
        }
    }
</script>

<style scoped>

</style>