<template>
    <b-card-group class="col-md-12">
        <b-card header="REAL-TIME SKIN CANCER AI DETECTION">
            <h3 class="text-center">Welcome to Doctor Hazel A.I.</h3>
            <h5 class="text-center">Thank you for donating your data to Doctor Hazel AI.</h5>
            <b-card header="Your Image Uploads"
                    align="left"
                    class="profile">
                <b-table responsive
                         :fields="fields"
                         :items="items">
                    <template slot="image"
                              slot-scope="data">
                        <img :src="data.item.image"
                             width="50"
                             height="50"
                             style="object-fit: cover;">
                    </template>
                    <template slot="edit"
                              slot-scope="data">
                        <b-link :to="data.item.actions.edit">Edit</b-link>
                    </template>
                    <template slot="details" slot-scope="data">
                        <b-link :to="data.item.actions.details">Details</b-link>
                    </template>
                </b-table>
            </b-card>
            <b-row align-h="end"
                   class="pt-0 pt-0 pt-lg-5">
                <b-col lg="6"
                       class="text-right">
                    <b-button variant="primary"
                              @click="onAnother">ANALYZE ANOTHER IMAGE</b-button>
                </b-col>
            </b-row>
        </b-card>
    </b-card-group>
</template>

<script>
    const items = [
        { image: require('../assets/img1.jpg'), area: 'Face', classification: 'Melanoma', date: '02/20/2018', actions: { edit: 'uploads/upload', details: '/results/result' } },
        { image: require('../assets/img2.jpg'), area: 'Shoulder', classification: 'Basal Cell', date: '03/27/2018', actions: { edit: 'uploads/upload', details: '/results/result' } },
        { image: require('../assets/img3.jpg'), area: 'Chest', classification: 'Non-Cancerous', date: '03/03/2018', actions: { edit: 'uploads/upload', details: '/results/result' } },
        { image: require('../assets/img4.jpg'), area: 'Face', classification: 'Melanoma', date: '02/20/2018', actions: { edit: 'uploads/upload', details: '/results/result' } },
        { image: require('../assets/img5.jpg'), area: 'Shoulder', classification: 'Basal Cell', date: '03/27/2018', actions: { edit: 'uploads/upload', details: '/results/result' } },
    ];
    export default {
        data() {
            return {
                fields: {
                    image: { label: 'Image' },
                    area: { label: 'Area' },
                    classification: { label: 'Classification' },
                    date: { label: 'Date' },
                    'actions.edit': { label: 'Edit', key: 'edit' },
                    'actions.details': { label: 'Details', key: 'details' }
                },
                items: items
            }
        },
        // computed: {
        //     profiles() {
        //         return this.$store.getters.profiles;
        //     }
        // },
        // created() {
        //     const items = this.profiles;
        //     this.items = items
        // },
        methods: {
            onAnother() {
                this.$router.push({ name: 'uploads' })
            }
        }
    }
</script>

<style scoped>

</style>