<template>
    <b-col md="6"
           class="form-message">
        <img src="../assets/logo.png"
             alt="Logo"
             class="logo-img mb-4"
             width="28"
             height="28">
        <span class="description text-center mt-5 mb-5">Sign up</span>
        <b-form @submit.prevent="onSubmit">
            <b-form-group>
                <b-input-group>
                    <i class="icon s7-user"
                       slot="prepend"></i>
                    <b-form-input id="username"
                                  type="text"
                                  placeholder="Username"
                                  autocomplete="off"
                                  v-model="username"
                                  :state="!$v.username.$error"
                                  @blur.native="$v.username.$touch()"></b-form-input>
                    <b-form-invalid-feedback>This value is required.</b-form-invalid-feedback>
                </b-input-group>
            </b-form-group>
            <b-form-group>
                <b-input-group>
                    <i class="icon s7-mail"
                       slot="prepend"></i>
                    <b-form-input id="email"
                                  type="text"
                                  placeholder="Email"
                                  autocomplete="off"
                                  v-model="email"
                                  :state="!$v.email.$error"
                                  @blur.native="$v.email.$touch()"></b-form-input>
                    <b-form-invalid-feedback v-if="$v.email.required">This value is required.</b-form-invalid-feedback>
                    <b-form-invalid-feedback v-if="$v.email.email">This value should be a valid email.</b-form-invalid-feedback>
                </b-input-group>
            </b-form-group>
            <b-form-group>
                <b-row>
                    <b-col sm="6">
                        <b-input-group>
                            <i class="icon s7-lock"
                               slot="prepend"></i>
                            <b-form-input id="password"
                                          type="password"
                                          placeholder="Password"
                                          autocomplete="off"
                                          v-model="password"
                                          :state="!$v.password.$error"
                                          @blur.native="$v.password.$touch()"></b-form-input>
                            <b-form-invalid-feedback>This value is required.</b-form-invalid-feedback>
                        </b-input-group>
                    </b-col>
                    <b-col sm="6">
                        <b-input-group>
                            <i class="icon s7-lock"
                               slot="prepend"></i>
                            <b-form-input id="confirm"
                                          type="password"
                                          placeholder="Confirm"
                                          autocomplete="off"
                                          v-model="confirmPassword"
                                          :state="!$v.confirmPassword.$error"
                                          @blur.native="$v.confirmPassword.$touch()"></b-form-input>
                            <b-form-invalid-feedback>This value should be the same.</b-form-invalid-feedback>
                        </b-input-group>
                    </b-col>
                </b-row>
            </b-form-group>
            <b-form-group class="sign-up-submit">
                <b-button type="submit"
                          variant="primary"
                          size="lg"
                          block="block">Sign up</b-button>
            </b-form-group>
        </b-form>
        <div class="alternative-message text-center">
            Already have an account?
            <b-link :to="{ name: 'login' }">Log In</b-link>
        </div>
    </b-col>
</template>

<script>
    import { required, email, sameAs } from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                username: '',
                email: '',
                password: '',
                confirmPassword: '',
                block: true
            }
        },
        validations: {
            username: {
                required
            },
            email: {
                required,
                email
            },
            password: {
                required
            },
            confirmPassword: {
                sameAsPassword: sameAs('password')
            }
        },
        methods: {
            onSubmit() {
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    this.$router.push({ name: 'info' })
                }
            }
        }
    }
</script>

<style scoped>

</style>