<template>
    <b-card-group class="col-md-12">
        <b-card align="center"
                class="px-lg-5">
            <h1 class="my-5">About your results</h1>
            <h5 class="mb-4">OUR STANDARD DISCLAIMER</h5>
            <scrolly class="scroll">
                <scrolly-viewport>
                    <div class="text-left">
                        <p>
                            Doctor Hazel is not a replacement for a dermatologist or a doctor. Please advise your doctor for a completely accurate diagnosis.
                        </p>
                        <p>
                            (This classification)____is the current result from Doctor Hazel A.I. The confidence ranking is __% based on the current data set.
                        </p>
                        <p>
                            By proceeding, you understand that you are donating data for the Doctor Hazel A.I. engine and that Doctor Hazel A.I. is not a replacement for an official doctor diagnosis.
                        </p>
                    </div>
                </scrolly-viewport>
                <scrolly-bar axis="y"></scrolly-bar>
            </scrolly>
            <b-link href="#">Terms and Conditions</b-link>
            <b-row align-h="end"
                   class="pt-0 pt-0 pt-5">
                <b-col sm="6"
                       class="text-left">
                    <b-form-checkbox v-model="checked">I agree to the Terms and Conditions</b-form-checkbox>
                </b-col>
                <b-col sm="6"
                       class="text-right">
                    <b-button variant="primary"
                              :disabled="!checked"
                              @click="onAgree">AGREE</b-button>
                </b-col>
            </b-row>
        </b-card>
    </b-card-group>
</template>

<script>
    import { Scrolly, ScrollyViewport, ScrollyBar} from 'vue-scrolly'

    export default {
        data() {
            return {
                checked: false
            }
        },
        components: {
            Scrolly,
            ScrollyViewport,
            ScrollyBar
        },
        methods: {
            onAgree() {
                this.$store.dispatch('setProfiles');
                this.$router.push({ name: 'result' })
            }
        }
    }
</script>

<style scoped>

</style>