<template>
    <b-card-group class="col-md-12">
        <b-card header="REAL-TIME SKIN CANCER AI DETECTION">
            <h3 class="text-center">Your Analyzed Results</h3>
            <h5 class="text-center mb-5">Thank you for donating your data to Doctor Hazel AI.</h5>
            <b-row align-h="center">
                <b-col md="6">
                    <div class="mb-3 text-center">
                        <b-img :src="infos.uploadedFile"
                               fluid
                               class="uploadedImage" />
                    </div>
                </b-col>
            </b-row>
            <b-card-group deck
                          class="text-left">
                <b-card header="Doctor Hazel Upload Analysis">
                    <b-form-group label="Classification">
                        <b-form-input type="text"
                                      readonly></b-form-input>
                    </b-form-group>
                    <b-form-group>
                        <b-form-input type="text"
                                      readonly></b-form-input>
                    </b-form-group>
                    <b-form-group>
                        <b-form-input type="text"
                                      readonly></b-form-input>
                    </b-form-group>
                    <p>
                        (This classification)____ is the current result from Doctor Hazel A.I. engine.
                    </p>
                    <p>
                        The confidence ranking is __% based on the current data set.
                    </p>
                    <b-link to="#">How the numbers are determined</b-link>
                </b-card>
                <b-card header="Your Upload Description">
                    <b-form-group label="Where is the area of concern?"
                                  label-for="areaOfConcern">
                        <b-form-input id="areaOfConcern"
                                      type="text"
                                      readonly
                                      :value="infos.selectAreaOfConcern"></b-form-input>
                    </b-form-group>
                    <b-form-group label="How long have you had this mole?"
                                  label-for="howLong">
                        <b-form-input id="howLong"
                                      type="text"
                                      readonly
                                      :value="infos.selectHowLong"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Has the shape or color changed since you discovered it?"
                                  label-for="shapeOrColor">
                        <b-form-input id="shapeOrColor"
                                      type="text"
                                      readonly
                                      :value="infos.selectShapeOrColor"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Has this been classified?"
                                  label-for="classified">
                        <b-form-input id="classified"
                                      type="text"
                                      readonly
                                      :value="infos.selectClassified"></b-form-input>
                    </b-form-group>
                    <div v-if="infos.selectClassified == 'Yes'">
                        <b-form-group label="What is the classification?"
                                      label-for="classification">
                            <b-form-input id="classification"
                                          type="text"
                                          readonly
                                          :value="infos.selectClassification"></b-form-input>
                        </b-form-group>
                        <b-form-group label="When was this classified?"
                                      label-for="whenClassified">
                            <b-form-input id="whenClassified"
                                          type="text"
                                          readonly
                                          :value="infos.selectWhenClassified"></b-form-input>
                        </b-form-group>
                        <b-form-group label="Who was it classified by?"
                                      label-for="classifiedBy">
                            <b-form-input id="classifiedBy"
                                          type="text"
                                          readonly
                                          :value="infos.selectClassifiedBy"></b-form-input>
                        </b-form-group>
                        <b-form-group label="Are you currently in treatment for this mole?"
                                      label-for="currentlyInTreatment">
                            <b-form-input id="currentlyInTreatment"
                                          type="text"
                                          readonly
                                          :value="infos.selectCurrentlyInTreatment"></b-form-input>
                        </b-form-group>
                        <b-form-group label="Have you had treatment for this mole in the past?"
                                      label-for="pastTreatment">
                            <b-form-input id="pastTreatment"
                                          type="text"
                                          readonly
                                          :value="infos.selectPastTreatment"></b-form-input>
                        </b-form-group>
                    </div>
                </b-card>
            </b-card-group>
            <b-row class="pt-0 pt-0 pt-lg-5">
                <b-col lg="6"
                       class="pb-4 pb-lg-0 text-left">
                    <b-link href="/"
                            @click.prevent="onSkip">Go to your profile</b-link>
                </b-col>
                <b-col lg="6"
                       class="text-right">
                    <b-button variant="primary"
                              @click="onAnother">ANALYZE ANOTHER IMAGE</b-button>
                </b-col>
            </b-row>
        </b-card>
    </b-card-group>
</template>

<script>
    export default {
        computed: {
            infos() {
                return this.$store.getters.forms
            }
        },
        methods: {
            onSkip() {
                this.$router.push({ name: 'profile' })
            },
            onAnother() {
                this.$router.push({ name: 'uploads' })
            }
        }
    }
</script>

<style scoped></style>