html {
  font-size: 13px;
}

body {
  font-family: "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,sans-serif;
  line-height: 1.538;
  color: $font;
  background-color: $body-background;
}