.btn {
  padding: .81rem .7692rem;
  line-height: 1;
  border-radius: 0;

  &:focus {
    outline: 0;
  }
}

.btn-lg {
  font-size: 1.077rem;
  padding: .9231rem .7692rem;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;

  &:not([disabled]) {
    &:not(.disabled) {
      &:active {
        border-color: transparent;
        background-color: $primary-active;

        &:focus {
          border-color: transparent;
          background-color: $primary-active;
          box-shadow: 0 0 0 0 $primary-focus;
        }
      }
    }
  }

  &:hover {
    border-color: transparent;
    background-color: $primary-hover;
  }

  &:focus {
    box-shadow: 0 0 0 0 $primary-focus;
  }

  &:disabled {
    background-color: $primary;
    border-color: $primary;
  }
}

.btn-secondary {
  color: $btn-secondary-text;
  background-color: $btn-secondary-bg;
  border-color: $btn-secondary-border;

  &:not([disabled]) {
    &:not(.disabled) {
      &:active {
        color: $btn-secondary-text;
        border-color: $btn-secondary-border;
        background-color: $btn-secondary-bg-active;

        &:focus {
          color: $btn-secondary-text;
          border-color: $btn-secondary-border;
          background-color: $btn-secondary-bg-active;
          box-shadow: 0 0 0 0 $btn-secondary-focus;
        }
      }
    }
  }

  &:hover {
    color: $btn-secondary-text;
    border-color: $btn-secondary-border;
    background-color: $btn-secondary-bg-hover;
  }

  &:focus {
    box-shadow: 0 0 0 0 $btn-secondary-focus;
  }
}