.card {
  background-color: $white;
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  border: 0;
  border-radius: 1px;

  .card-header {
    font-size: 1.385rem;
    font-weight: 400;
    color: $cardheader-font;
    padding: 24px 0 14px;
    margin: 0 20px;
    background-color: transparent;
    border-bottom: 1px solid $cardheader-border;
  }

  .card-body {
    padding: 14px 20px 14px;
  }
}