.custom-control-input {
  &:checked~ {
    .custom-control-label {
      &::before {
        border-color: $primary !important;
        color: $primary;
        background-color: transparent;
      }
    }
  }

  &:focus ~ {
    .custom-control-label {
      &::before {
        box-shadow: none;
      }
    }
  }

  &:active ~ {
    .custom-control-label {
      &::before {
        background-color: transparent;
      }
    }
  }
}

.custom-control-label {
  &::before {
    transition: none;
    width: 1.69231rem;
    height: 1.69231rem;
    background-color: transparent;
    top: -.077155rem;
    left: -2.23077rem;
  }

  &::after {
    top: -.077155rem;
    left: -2.23077rem;
    width: 1.69231rem;
    height: 1.69231rem;
  }
}

.custom-checkbox {
  .custom-control-label {
    &::before {
      content: '';
      border: 2px solid $form-border;
      border-radius: 0;
    }

    &::after {
      color: $primary;
    }
  }

  .custom-control-input {
    &:checked~ {
      .custom-control-label {
        &::before {
          background-color: transparent;
        }

        &::after {
          background: none;
          content: '\e6ca';
          font-family: 'Stroke 7';
          font-size: 20px;
          font-weight: 400;
          text-align: center;
          line-height: 1.1;
        }
      }
    }
  }
}