.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  font-size: 1.077rem;
  padding: .923077rem 1.307rem;
  height: 3.23077rem;
  line-height: 1;
  color: $form-font;
  border: 2px solid $form-border;
  border-radius: 0;

  &:focus {
    border-color: $form-primary-focus-border;
    outline: 0;
    box-shadow: 0 0 0 0 transparent;
  }
}

.form-control[readonly] {
  background-color: $form-readonly-bg;
}

.custom-control {
  min-height: 1.69231rem;
  min-width: 1.69231rem;
  margin-bottom: .923rem;
  padding-left: 2.23077rem;
}

.is-valid, .is-invalid {
  border-color: $form-border !important;

  &:focus {
    box-shadow: none !important;
  }
}

.invalid-feedback {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 15px 20px;
  position: relative;
  background-color: $invalid;
  color: $white;
  font-size: inherit;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -6px;
    left: 20px;
    width: 0;
    height: 0;
    z-index: 2;
    border-bottom: 7px solid $invalid;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
}

.uploaded {
  &.invalid-feedback {
    display: block;
  }
}