.profile {
  .card-header {
    border: none;
  }
}

.table {
  margin-bottom: 0;

  th, td {
    padding: 0.9rem;
  }

  thead {
    tr {
      th {
        &:first-child {
          padding-left: 20px;
        }

        padding-top: 15px;
        padding-bottom: 10px;
        border-color: $table-border;
        border-top-width: 0;
        font-weight: 400;
      }
    }
  }

  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: whitesmoke;
      }

      &:hover {
        background-color: $table-hover;
      }

      td {
        &:first-child {
          padding-left: 20px;
        }

        font-weight: 400;
        vertical-align: middle;
        padding-top: 0.807692rem;
        padding-bottom: 0.807692rem;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}