<template>
    <div>
        <app-header></app-header>
        <b-container>
            <b-row align-h="center"
                   class="py-5">
                <router-view></router-view>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import Header from './components/Header.vue'

    export default {
        components: {
            appHeader: Header
        }
    }
</script>

<style></style>
