.form-message {
  display: flex;
  flex-direction: column;
  padding: 60px 30px 40px;
  background-color: $login-bg;
  color: $login;

  a {
    color: $white;
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }

  .logo-img {
    margin: 0 auto;
    display: block;
  }

  .description {
    color: $white;
    font-size: 1.53846rem;
    font-weight: 300;
    display: block;
    margin: 0 auto;
  }

  .form-group {
    margin: 0;

    .input-group {
      border-bottom: 2px solid $login-input-group-border;
      padding: 6px 0;

      .input-group-prepend {
        padding: .6rem .9rem;
        min-width: 3.847rem;
        font-size: 1.23rem;
        margin-right: 0;

        &:first-child {
          background-color: transparent;
        }

        .icon {
          font-size: 20px;
          color: $primary;
          padding-top: 1px;
        }
      }
      
      .form-control {
        border: 0;
        background-color: transparent;
        box-shadow: none;
        color: $login-form;
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        height: 36px;
      }
    }

    &.login-submit {
      padding: 2.4rem 0 2.5rem;
    }

    &.sign-up-submit {
      padding: 1.53846rem 0 1.15385rem;
    }

    .custom-control-label {
      &::before {
        border-color: $login-checkbox-form-border;
      }
    }
  }

  .alternative-message {
    color: $login-alternative;
    margin-top: 3rem;
  }

  .invalid-feedback {
    margin-top: 0.25rem;
    margin-bottom: 0;
    padding: 0;
    position: unset;
    background: none;
    color: $invalid;

    &::after {
      content: none;
    }
  }
}